@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-color :lightcoral;
  color :grey;
  height :80px;
  }
  
  
  .header-buttons{
    margin: 10px;
    display :flex;
    justify-content:center;
    align-items:center;
    gap: 40px;
    font-size:30px;
  
  }